body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    overflow-x: hidden;
}

#search{
    border: 1.5px solid black;
    height: 2rem;
    padding: 1rem 1.5rem;
    position: relative;
}

#søk{
    border: 1.5px solid black;
    height: 2rem;
    padding: 1rem 1.5rem;
    background-color: transparent;
    vertical-align: middle;
    position: relative;
}

#search-icon{
    max-width: 1.5rem;
    height: auto;
    width: auto;
    position: absolute;
    top: 15%;
    left: 25%;
}


#global-header{
    padding: 15px 15px;
}

#global-header nav ul {
    list-style: none;
    padding: 0;
}

#global-header nav ul li {
    margin-bottom: 15px;    
}

#global-header nav ul li a{
    text-decoration: none;
    color: black;
}

#link-logo{
    font-size: 2.5rem;
    font-weight: bold;
}

.shoppingvogn-ikon img{
    width: 20px;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

.favoritt-ikon img{
    width: 40px;
    display: block;
    margin-top: 10px;
}

.minside-ikon img{
    width: 20px;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

#sosiale-medier ul li a img{
    width: 30px;
    margin-bottom: 30px;
    background: none;
}

#sosiale-medier ul{
    list-style: none;
    padding: 0;
}

#kontakt img{
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#kontakt p{
    font-weight: bold;
}

#footer h2{
    margin-top: 50px;
}

#kontakt h2{
    margin-top: 50px;
}

hr{
    margin-top: 50px;
    width: 100%;
}

#snarveier h2{
    margin-top: 30px;
}

#snarveier ul{
    list-style: none;
    padding: 0;
}

#snarveier ul li{
    margin-bottom: 10px;
}

#snarveier a {
    text-decoration: none;
    color: black;
    display: block;
}

#sosiale-medier h2{
    margin-top: 30px;
}

#banner{
    margin-top: 30px;
    background-color: rgb(211, 211, 211);
    text-align: right;
    height: 350px;
    position: relative;
    padding: 40px;
    margin-bottom: 50px;
}

.knapp{
    background-color: white;
    color: black;
    display: inline-block;    
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    margin: 20px;
    font-weight: bold;
    margin-top: 50px;
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: 15%;
}

.filtrering-knapper{
    margin-top: 30px;
    margin-bottom: 60px;
}

.filtrering-knapp {
    padding: 15px 30px;
    border: 0.1px solid black;
    background-color: none;
    display: inline-block;
    margin: 2px;
}

#product-card{
    width: 20px;
    display: block;
    padding: 20px;
}


.product-card h3{
    margin-bottom: 10px;
}

#kategorier p{
    margin-bottom: 50px;
}

.anmeldelse h4{
    font-weight: bold;
}

.anmeldelse img{
    max-width: 150px;
    height: auto;
}

#anmeldelser {
    margin-top: 40px;
}

.anmeldelse{
    margin-bottom: 40px;
    padding: 20px;
    border: 0.1px solid black;
}

.anmeldelse p {
    text-align: left;
}

#anmeldelser h2{
    margin-bottom: 30px;
    text-align: left;
}

.categories{
    display: block;
    padding: 100px;
    border: 1px solid black;
    background-color: none;
    width: 100%;
    margin-bottom: 20px;
}

.categories h4{
    text-align: center;
    font-size: bold;
}

#kategorier h2{
    margin-top: 50px;
}

.brødsmulesti li{
    display: inline;
    padding: 0 5px;
    font-size: 17px;
}

.brødsmulesti li+li:before{
    content: ">";
    padding: 0 18px;
}

.brødsmulesti ul{
    list-style: none;
    padding: 0;
}

.brødsmulesti a{
    text-decoration: none;
    color: black;
}
#stor{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#liten{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.lignende-produktkort img{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
}

.lignende-produkter h2{
    padding: 30px;
    padding-bottom: 5px;
}

.lignende-produkter h3, p{
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
}

.lignende-produktkort{
    text-align: center;
    display: block;
    overflow: hidden;
}

.lignende-produkter h3{
    padding: 0;
    margin-right: 250px;
}

.lignende-produkter a{
    display: inline-block;
}

.lignende-produkter p{
    padding: 0;
    margin-left: 300px;
    margin-top: -50px;
}

#produkter{
    display: block;
}

#produktnavn h2{
    margin-top: 30px;
}

#produktnavn a{
    text-decoration: underline;
    color: black;
}

#produktnavn .pris{
    display: block;
}

.alt *{
    text-align: left;
}

.produktside-kort{
    display: block;
    width: 100%;
}

.produktside-kort img{
    display: block;
    margin-top: 10px;
    height: auto;
    width: 100%;
}

#shoppingbag h2{
    margin-top: 0;
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

#shoppingbag h1{
    font-size: 1.8rem;
}

.produktside-kort{
    display: block;
    width: 100%;
}

.produktside-kort h3, p{
    margin: 0;
    display: block;
    margin-bottom: 0;
}

.produktside-kort h3{
    margin-top: 10px;
}

form fieldset{
    border: none;
}

form fieldset legend{
    font-weight: bold;
    float: left;
}

#opplysninger h1{
    margin-top: 50px;
}

#opplysninger input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border: 0.1px solid black;
    box-sizing: border-box;
}

#lagre, #avbryt{
    display: block;
    border: none;
    font-size: 1rem;
}

#lagre{
    background-color: rgb(82, 82, 82);
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    padding: 15px;
    text-align: center;
}

#avbryt{
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

#levering form{
    display: block;
    width: 100%;
}

#levering legend{
    font-weight: bold;
    margin-bottom: 20px;
}

#levering label{
    display: block;
    margin: 5px 0;
    clear: both;
    margin-bottom: 5px;
}

#betaling label{
    display: inline-block;
    width: 100%;
}

#betal-inkl{
    margin-top: 30px;
}

#kortnummer, #utløpsdato, #cvc{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border: 0.1px solid black;
    box-sizing: border-box;
}

#betaling legend{
    margin-bottom: 10px;
}

#buy{
    background-color: rgb(82, 82, 82);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    padding: 15px;
    text-align: center;
}

#bekreft{
    font-weight: bold;
}

#checkbox{
    font-size: 14px;
    font-weight: bold;
}
